.banner .img {
  display: block;/*même taille que le parent*/
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position:  center;
  position:relative;
  z-index:-1;
}

.resto__main {
  background: $color-white;
  width: 100%;
margin-top: -30px;
  padding-top: 50px;
  background: $color-bkg1grey;
  border-radius: 40px 40px 0 0;
  padding-bottom: 30px;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.4);


  & h2 {
    font-family: "Shrikhand", cursive, sans-serif;
    margin-left: 15px;
  }
}
  .resto__heart {
    position: relative;
    i {
      font-size: 25px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    .far {
      font-weight: 100;
    }
    .fas {
      color: transparent;
      background: linear-gradient(30deg, $primary-color 30%, $secondary-color);
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 250ms ease-in-out;
    }
  }
.fas:hover {
      opacity: 1;
      transform: scale(1.3);
    }

.menus {
  background:$color-bkg1grey;
  padding-bottom: 40px;
  gap: 10px;
}

.debut {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  flex-direction: column;
  align-items: flex-start;
 /* opacity: 1;
  transform: translateY(0);*/
  &__border {
    text-align: left;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: $font-txt;
    margin-bottom: 20px;
    &::after {
      content: "";
      display: block;
      width:60%;
      border-bottom: 3px solid $tertiary-color;
      padding-top: 6px;
    }
  }
.debut__entrees{
  margin-left: 30px;
  animation: slideup 2s forwards;
  opacity: 0;
}

.elements {
  display: flex;
  background-color: $color-white;
  width: 95%;
  margin: 16px 0;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #00000066;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;

    &__plat {
      white-space: nowrap;
      text-overflow: ellipsis; /*...*/
      overflow: hidden;/*Pour le positionnement de la coche*/
      flex: 1;
      font-size: smaller;
          h3, p {
        overflow: hidden; /*Pour éviter que le texte se mette à la ligne d'une façon peu esthétique*/
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      h3 {
        margin: 5px 0;
        padding:0 15px;
      }
      p {
        margin: 1px 0;
        padding:0 0 10px 15px;
      }
    }
  }
}
.prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
  font-weight: bold;

}
i.fas.fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 30px;
}

.valide {
  background-color: #99e2d0;
  margin: -16px -80px -16px 16px;
  width:64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
 }
.elements:hover .valide {
  margin-right: -16px;
}
.rotation {
  height: 26px;
  width:26px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(300deg);
  transition-duration: 0.5s;
}
.elements:hover .rotation {
  transform: rotate(0);
}
@media screen and (max-width: 1366px) {
  .debut {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
  }
  .elements {
    width: 90%;
    background-color: white;
  }
}
/*MEDIUM*/
@media screen and (max-width: 800px) {
  .debut {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
  }

  .elements {
    width: 90%;
    background-color: white;
  }
}

/*SMALL*/
@media screen and (max-width: 667px) {

  .debut {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
  }

  i.fas.fa-arrow-left {
    font-size: x-large;
    position: absolute;
    left: 25px;
  }

  .elements {
    width: 80%;
    background-color: white;
  }

}

@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}





