@charset "UTF-8";
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: "Roboto", "Verdana", "Trebuchet", sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  padding-left: 15px;
}

header {
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 0 3px 5px rgba(128, 128, 128, 0.42);
}
header h1 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
}

footer {
  background-color: #313132;
  color: #FFF;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
}

.footer {
  line-height: 2em;
  align-items: center;
  margin-left: 30px;
  text-align: left;
}
@media screen and (min-width: 480px) and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .footer p {
    margin-left: 50px;
  }
}
.footer p {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-right: 60px;
}
.footer a {
  width: 90%;
  display: flex;
  color: transparent;
  background-color: white;
  list-style-type: none;
  /*padding: 10px 20px 0 0;*/
  margin-top: 2px;
  -webkit-background-clip: text;
}
@media screen and (min-width: 710px) {
  .footer a {
    padding-top: 0;
  }
}
.footer a:hover {
  background: linear-gradient(20deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}
.footer a i {
  padding: 10px 15px 10px 0;
  display: inline-block;
  width: 15px;
}

.btn {
  padding: 15px;
  color: #FFF;
  border-radius: 30px;
  font-size: 1.1em;
  width: 70%;
  text-align: center;
  font-family: "Roboto", "Verdana", "Trebuchet", sans-serif;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 710px) and (max-width: 1024px) {
  .btn {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    width: 35%;
  }
}
.btn:hover {
  background-image: linear-gradient(to right, #9356DC 50%, #FF79DA);
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
  box-shadow: 2px 4px 8px 3px #bfbfc6;
  font-weight: bold;
}

.present__btn {
  margin: 10px;
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  box-shadow: 1px 0 3px 1px rgba(128, 128, 128, 0.7);
}

.present {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 40px 10px;
  text-align: center;
  background-color: #e9e9e9;
}
.present p {
  font-weight: 100;
  font-size: 18px;
}
.present__title {
  margin: 20px 0;
}

.fonct {
  margin: 20px 20px 40px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fonct__title {
  margin: 30px 0;
  align-self: flex-start;
}

.fonct__media {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 890px) and (max-width: 1900px) {
  .fonct__media {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    gap: 40px;
  }
}

.fonct__option {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border: none;
  background-color: #f5f5f5;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.5);
  min-width: 250px;
}
@media screen and (min-width: 1024px) {
  .fonct__option p {
    text-align: left;
  }
}
.fonct__option p {
  font-size: 15px;
  text-justify: auto;
}
.fonct__option:hover {
  background-color: #f2eafb;
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
  box-shadow: 2px 4px 8px 3px #bfbfc6;
  font-weight: bold;
}
.fonct__option:hover i {
  color: #9356DC;
}

.option__number {
  background-color: #9356DC;
  color: #FFF;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  left: -20px;
  position: relative;
  min-width: 40px;
}

.option:hover {
  cursor: pointer;
}

.option__icon {
  margin-right: 10px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8a8a95;
  font-size: 1.3em;
}

.menus {
  background: #e9e9e9;
  padding-top: 20px;
}
.menus__title {
  padding-left: 30px;
  margin: 30px 0;
  align-self: flex-start;
}

.menus__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding-bottom: 45px;
  /*pseudo élément*/
}
@media screen and (min-width: 710px) {
  .menus__cards {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  }
}
.menus__cards .new {
  position: relative;
  font-size: 12px;
}
.menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 20px;
  width: 65px;
  background-color: #99E2D0;
  color: #1b6150;
  text-align: center;
  padding: 4px;
  right: 10px;
  top: 15px;
}

.card {
  width: 90%;
  height: 270px;
  background: #FFF;
  border-radius: 20px;
  padding-bottom: 5px;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.4);
  /*cours sur les boucles*/
}
@media screen and (min-width: 710px) {
  .card {
    justify-self: center;
  }
}
.card p {
  padding-left: 15px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 300;
}
.card h3 {
  margin: 10px 0;
  font-size: 18px;
}
.card__image {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.card__image-1 {
  background-image: url("../../images/restaurants/rest-1.jpg");
}
.card__image-2 {
  background-image: url("../../images/restaurants/rest-2.jpg");
}
.card__image-3 {
  background-image: url("../../images/restaurants/rest-3.jpg");
}
.card__image-4 {
  background-image: url("../../images/restaurants/rest-4.jpg");
}
.card__description {
  position: relative;
}
.card__description i {
  font-size: 25px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.card__description .fas {
  color: transparent;
  background: linear-gradient(30deg, #9356DC 30%, #FF79DA);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.card:hover {
  transform: scale(1.03);
}

.search-city {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgba(60, 60, 60, 0.1490196078);
}
.search-city i {
  margin-right: 5px;
  font-size: 15px;
}
.search-city__bar {
  border: none;
  background-color: transparent;
  height: 45px;
  font-family: "Roboto", "Verdana", "Trebuchet", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 25px;
  width: 150px;
  text-align: center;
}
.search-city__bar::placeholder {
  font-size: 15px;
}
.search-city__bar:focus {
  outline: none;
}

.banner .img {
  display: block; /*même taille que le parent*/
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1;
}

.resto__main {
  background: #FFF;
  width: 100%;
  margin-top: -30px;
  padding-top: 50px;
  background: #e9e9e9;
  border-radius: 40px 40px 0 0;
  padding-bottom: 30px;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.4);
}
.resto__main h2 {
  font-family: "Shrikhand", cursive, sans-serif;
  margin-left: 15px;
}

.resto__heart {
  position: relative;
}
.resto__heart i {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.resto__heart .far {
  font-weight: 100;
}
.resto__heart .fas {
  color: transparent;
  background: linear-gradient(30deg, #9356DC 30%, #FF79DA);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.fas:hover {
  opacity: 1;
  transform: scale(1.3);
}

.menus {
  background: #e9e9e9;
  padding-bottom: 40px;
  gap: 10px;
}

.debut {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  flex-direction: column;
  align-items: flex-start;
  /* opacity: 1;
   transform: translateY(0);*/
}
.debut__border {
  text-align: left;
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Roboto", "Verdana", "Trebuchet", sans-serif;
  margin-bottom: 20px;
}
.debut__border::after {
  content: "";
  display: block;
  width: 60%;
  border-bottom: 3px solid #99E2D0;
  padding-top: 6px;
}
.debut .debut__entrees {
  margin-left: 30px;
  animation: slideup 2s forwards;
  opacity: 0;
}
.debut .elements {
  display: flex;
  background-color: #FFF;
  width: 95%;
  margin: 16px 0;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}
.debut .elements__plat {
  white-space: nowrap;
  text-overflow: ellipsis; /*...*/
  overflow: hidden; /*Pour le positionnement de la coche*/
  flex: 1;
  font-size: smaller;
}
.debut .elements__plat h3, .debut .elements__plat p {
  overflow: hidden; /*Pour éviter que le texte se mette à la ligne d'une façon peu esthétique*/
  white-space: nowrap;
  text-overflow: ellipsis;
}
.debut .elements__plat h3 {
  margin: 5px 0;
  padding: 0 15px;
}
.debut .elements__plat p {
  margin: 1px 0;
  padding: 0 0 10px 15px;
}

.prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
  font-weight: bold;
}

i.fas.fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 30px;
}

.valide {
  background-color: #99e2d0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.elements:hover .valide {
  margin-right: -16px;
}

.rotation {
  height: 26px;
  width: 26px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(300deg);
  transition-duration: 0.5s;
}

.elements:hover .rotation {
  transform: rotate(0);
}

@media screen and (max-width: 1366px) {
  .debut {
    display: flex;
    flex-direction: column;
    /* align-items: center;*/
  }
  .elements {
    width: 90%;
    background-color: white;
  }
}
/*MEDIUM*/
@media screen and (max-width: 800px) {
  .debut {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
  }
  .elements {
    width: 90%;
    background-color: white;
  }
}
/*SMALL*/
@media screen and (max-width: 667px) {
  .debut {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
  }
  i.fas.fa-arrow-left {
    font-size: x-large;
    position: absolute;
    left: 25px;
  }
  .elements {
    width: 80%;
    background-color: white;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
