::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  padding: 0;
  margin: 0;
  font-family: $font-txt ;

}
h1 {
  font-size: 20px;
}
h2 {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h3,
 {
  padding-left: 15px;
}
