footer{
  background-color:$color-footer;
  color: $color-white;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left ;
}
.footer{
  line-height: 2em;
  align-items: center;
  margin-left: 30px;
  text-align: left;
  @media screen and (min-width: 480px) and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    text-align: center;
    p {
      margin-left: 50px;
    }
  }

 & p {
    font-family: $font-logo;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
   padding-right: 60px;
  }

  & a {
    width: 90%;
    display: flex;
    color: transparent;
    background-color: white;
    list-style-type: none;
    margin-top: 2px;
    -webkit-background-clip: text;
    @media screen and (min-width: 710px) {
     padding-top: 0;
    }

    &:hover{
      background:linear-gradient(20deg, $primary-color, $secondary-color);
      -webkit-background-clip: text;
    }

    & i {
      padding: 10px 15px 10px 0;
      display: inline-block;
      width: 15px;
    }
  }
}
