header {
  text-align: center;
  position: relative;
  box-shadow: 0 6px 8px $color-shad-logo;

  & h1{
    font-family: $font-logo;
    font-size: 28px;
    margin: 0;
    padding: 20px 0;
}
  @media screen and (min-width: 890px) {
    h1 {
      font-size: 45px;
    }
  }
}


