.header__menu {
  background: $color-white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  box-shadow: 0 6px 8px $color-shad-logo;

}
  #oh-my-food-logo {
    display: flex;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    padding-bottom:10px;
    @media screen and (min-width: 710px) {
      width: 30%;
    }
  }
  #button-back {
    background-color: white;
    border: none;
    position: absolute;
    left: 10px;
    cursor: pointer;
  }
  #button-back i {
    padding-left: 30px;
    font-size: 25px;
    @media screen and (min-width: 710px) {
      font-size: 30px;
    }
  }

