$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$color-shad-logo: #80808071;
$color-bkg1grey: #f5f5f6;
$color-bkg-search: #3C3C3C26;
$color-white: #FFF;
$color-footer: #313132;

// Polices
$font-logo: "Shrikhand",cursive, sans-serif;
$font-txt :  "Roboto", "Verdana", "Trebuchet", sans-serif;


